html
    {
        margin: 0;
        padding: 0;
        background-color: black;
        color: #e0e0e0;
        font-family: Arial, sans-serif;
    }

.header
    {
        background-color: #1f1f1f;
        color: #FFAACC;
        text-align: center;
        font-size: 5vw;
        padding: 1rem;
        border-radius: 8px 8px 0 0;
    }

.MyPic1
    {
        display: block;
        margin: 0 auto;
        max-width: 40vw;
    }

.call
    {
        font-size: 8vw;
    }

.Name1
    {
        text-align: center;
        font-size: 8vw;

    }    

.td1 h1
    {
        text-align: center;
        color: white;
        font-size: 4vw;
    }

.MP1
    {
        text-align: center;
        color: white;
        font-size: 4vw;
    }

.MP2
    {
        text-align: center;
        color: white;
        font-size: 3vw;
    }

.profile_TB
    {
        margin-left: auto; 
        margin-right: auto;
        max-width: 70vw;
        max-height: 30vw;
        border-bottom: 4px solid white;
    }

.td1 span
    {
        border-bottom: 1px solid white;
        vertical-align: middle;
    }

.link_TB
    {
        margin-left: auto; 
        margin-right: auto;
    }

.DC1, .TC1
    {
        font-size: 4vw;
        color: #FFAACC;
    }

.P1, .P2    
    {
        font-size: 4vw;
        color: #FFFFFF;
    }

a 
    {
        color: #FFAABB;           /* 藍色文字 */
        text-decoration: none;    
    }

.discord_link, .twitch_link
    {
        border-bottom: 4px solid white;
        text-align: center;
    }

.P_TB
    {
        margin-left: auto; 
        margin-right: auto;
    }

.P_td1,.P_td2
    {
        font-size: 2vw;
    }